[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
jupyterlab = "*"
pandas = "*"
altair = "*"
altair-latimes = "*"
nbclient = "*"
click = "*"
nb-black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
